<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandelbrot Set Fractal Animation</title>
    <style>
        /* Add any CSS styles here */
        canvas {
            width: 100%;
            height: 100%;
            display: block;
        }
    </style>
</head>
<body>
    <canvas id="webglCanvas"></canvas>

    <!-- Include the JavaScript logic for fractal animation -->
    <script src="{{ url_for('static', filename='FractalAnimation.js') }}"></script>
</body>
</html>
